<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OTP Verification</title>
    
    
    <style>
        .cont{
            background-color: #d3dbe8;
            background-size: cover;
            height: 94vh;
        }

        h1{
            color: #1A76D1;
            font-size: 50px;
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="cont">
        <h1 style="padding-top: 250px;">No patient data found!</h1>
    </div>
</body>